:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

html { 
    font-size: 62.5%;

}

body {
    background-color: var(--LightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--VeryDarkGrayishBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

a { 
    text-decoration: none;
    color: #33a;
}

main { 
    width: 37.5rem;
    margin: 0;
}

h1, h2, h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 1.3rem;
}

p { 
    color: var(--GrayishBlue);
    margin-right: 0.8rem;
}

img {
    max-width: 100%;
}

.contenedor {
    margin: 20% 2rem 0 2rem; 
    border-radius: 0.5rem;
    background-color: rgb(255,255,255);
    box-shadow: 0.5rem 3rem 20rem #0000;
    position: relative;
    box-shadow: 0.2rem 0.7rem 1rem rgb(0, 0, 0,0.5);
}


.top-image { 
    background-image: url('/images/drawers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    max-width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}


.details { 
    border-radius: 0.5rem;
    padding: 3rem 3.5rem;

}

.profile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: -3rem;
    position: static;
}

.autor { 
    max-width: 15%;
    border-radius: 50%;
    margin-left: 3.5rem;
    align-self: center;
}

.autor img { 
    border-radius: 50%;
    max-width: 90%;
}

.nombre {
    margin-left: -4rem;
}

.nombre h2 {
    font-size: 1.3rem;
}

.nombre p { 
    margin-top: -1rem;
}

.compartir { 
    display: flex;
    align-items: center;
    margin-right: 3.5rem;
    align-self: center;
    position: static;
}

.compartir img { 
    border-radius: 50%;
    background-color: var(--LightGrayishBlue);
    padding: 0.8rem;
}

.compartir img:active {
    background-color: var(--GrayishBlue);
}

.caja_social { 
    background-color: var(--VeryDarkGrayishBlue);
    position: absolute;
    width: 100%;
    border-radius: 0 0 .5rem .5rem;
    padding: 0.5rem 0;
    left: -1;
    top: -1;
    display: none;
    animation: backwards;
    animation-name: slidemobile;
    animation-duration: 0.5s;
    
}

@keyframes slidemobile {
from {
    opacity: 0;
}

to {
    opacity: 1;
}

}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.5rem;

}

.social h3 {
    letter-spacing: 0.5rem;
    color: var(--GrayishBlue);
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0;
    
}

.iconos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: .5rem 5rem 0 0;
}

.twitter img {
    margin-top: .2rem;
}

.display { 
    display: block;

}

.dark {
    margin: 0rem .5rem 0 0;
    border-radius: 50%;
}


.dark img { 
    background-color: var(--GrayishBlue);
}

.attribution {
    margin: 0 auto;
}

@media (min-width: 768px) {
    
    main { 
        width: 140rem;
        margin: 0 0 0 10rem;
    }

    .contenedor { 
        display: grid;
        grid-template-columns: 45% 55%;
        margin: 20% 30rem 0 30rem;
        border-radius: 1rem;
        box-shadow: 0.2rem 0.5rem 1rem rgb(0, 0, 0,0.5);
        position: static;

    }

    h1 {
        font-size: 1.9rem;
        padding-right: 1.2rem;
    }

    .top-image {
        height: 100%;
        grid-row: 1/3;
        background-size: cover;
        border-radius: 0rem 0rem 0 0;
        border-radius: 1rem 0 0 1rem;

    }

    .profile {
        grid-column: 2/3;
        padding: 0 0 1rem 0;
        margin-bottom: 1rem;
        position: relative;
    }

    .autor img { 
        border-radius: 50%;
        width: 70%;
    }
    .nombre { 
        margin-left: -14rem;
    }

    .compartir { 
        margin-right: 5rem;
    }

    .compartir img:hover {
        background-color: var(--GrayishBlue);
    }

    .caja_social { 
        background-color: var(--VeryDarkGrayishBlue);
        position: absolute;
        border-radius: 1rem;
        margin: 0  30rem 0 0;
        width: 25rem;
        left: 24.5rem;
        top: -5rem;
        animation-duration: 0.5s;
        animation-name: slidein;
        animation-iteration-count: 1;
        box-shadow: 0.2rem 0.5rem 1rem rgb(0, 0, 0, 0.7);
    }

    @keyframes slidein {
        from {
            transform: translate(0, .5rem);
            opacity: 0;
        }

        to {
            transform: translate(0);
            opacity: 1;
        }
    }

    .iconos {
        margin: .5rem 0 0 1rem;
    }

    .dark {
        margin: 0rem .5rem 0 0;
        border-radius: 50%;
        display: none;
    }

    .social::before {
        height: 2rem;
        width: 3rem;
        background-color: var(--VeryDarkGrayishBlue);
        content: "";
        position: absolute;
        clip-path: polygon(0 100%, 100% 100%, 50% 0%);
        transform: rotate(180deg);
        margin: 23% 0% 0 29%;
        padding: 0 0.5rem;

    }

}
